# Road Safety in San Diego County

# Overview

# Names

# Group Member IDs

# Research Question

# Background and Prior Work


Fill in your background and prior work here

References (include links):

1)
2)

# Hypothesis

# Datasets

Fill in your dataset information here

(Copy this information for each dataset)

Dataset Name:
Link to the dataset:
Number of observations:
1-2 sentences describing each dataset.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
# !pip install geojson

In [2]:
#imports 

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# For data cleaning
import string

# Display plots directly in the notebook instead of in a new window
%matplotlib inline

In [3]:
# Configure libraries
# The seaborn library makes plots look nicer
sns.set()
sns.set_context('talk')

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

# Data Cleaning

In [4]:
# Read police stops Data Frame
df_police_stops = pd.read_csv("datasets/police_stops/ripa_stops_datasd_v1.csv")

# Read collisions Data Frame
df_collisions = pd.read_csv("datasets/traffic_collisions/pd_collisions_datasd_v1.csv")

# Read police calls in 2015, 2016, 2017, 2018, and 2019 into seperate Data Frames
# df_police_calls1 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2015_datasd_v1.csv")
# df_police_calls2 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2016_datasd_v1.csv")
# df_police_calls3 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2017_datasd_v1.csv")
# df_police_calls4 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2018_datasd.csv")
# df_police_calls5 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2019_datasd.csv")
df_police_calls = pd.read_csv("datasets/police_calls/pd_calls_for_service_all.csv")

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,9,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Merging police calls in 2015,2016,2017,2018,2019 into one Data Frame 
# df_police_calls = pd.concat([df_police_calls1, df_police_calls2,df_police_calls3,df_police_calls4,df_police_calls5])

# check that the Data Frames were merged properly
# df_police_calls.head()  # shows 2015 data
# # df_police_calls.tail() # shows 2019 data

# wrote a dataset with all police calls 
# df_police_calls.to_csv("datasets/police_calls/pd_calls_for_service_all.csv", index=False)

# DATA CLEANING

## df_collisions

In [6]:
# Traffic Collisions

# Returns the current structure, shape, column names, and data type of each column
# df_collisions.info()

In [7]:
# Traffic Collisions

# Date Time

# Creating seperate columns for Date and Time
date_time = df_collisions['date_time'].str.split(' ', n=1, expand=True)
df_collisions = df_collisions.drop(['date_time'], axis=1)
df_collisions['date'] = date_time[0]
df_collisions['time'] = date_time[1]

In [8]:

# Convert the 'date' and 'time' columns to datetime data types 
df_collisions['date']= pd.to_datetime(df_collisions['date']) 
df_collisions['time']= pd.to_datetime(df_collisions['time'])

# Checking that columns 'date' and 'time' are now datetime objects

# assert isinstance(df_collisions.date,datetime)

In [9]:
# Traffic Collisions

# droping useless columns
drop_cols_collision = ['address_pd_primary','address_pd_intersecting', 'address_name_intersecting', 'address_sfx_intersecting','report_id']
df_collisions = df_collisions.drop(drop_cols_collision, axis = 1)

In [10]:
# Traffic Collisions


# Changing datatype of address_number_primary from int to str
df_collisions['address_number_primary'] = df_collisions.address_number_primary.astype(str)

In [11]:
# Traffic Collisions

# String manipulations

# Making everything lowercase
df_collisions['address_road_primary'] = df_collisions['address_road_primary'].str.lower()
df_collisions['address_sfx_primary'] = df_collisions['address_sfx_primary'].str.lower()
df_collisions['charge_desc'] = df_collisions['charge_desc'].str.lower()
df_collisions['hit_run_lvl'] = df_collisions['hit_run_lvl'].str.lower()

#stripping gets rid of extraneous spaces to allow for easier processing of data
df_collisions['address_road_primary'] = df_collisions.address_road_primary.str.strip()
df_collisions['address_sfx_primary'] = df_collisions.address_sfx_primary.str.strip()
df_collisions['violation_section']= df_collisions.violation_section.str.strip()
df_collisions['violation_type'] = df_collisions.violation_type.str.strip()
df_collisions['charge_desc'] = df_collisions.charge_desc.str.strip()
df_collisions['hit_run_lvl'] = df_collisions.hit_run_lvl.str.strip()

## df_police calls

In [12]:
# Police Calls

# Change entries in col 'day_of_week' to represent the day of the week in words
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(1,'Monday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(2,'Tuesday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(3,'Wednesday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(4,'Thursday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(5,'Friday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(6,'Saturday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(7,'Sunday')

In [13]:
# Police Calls

# Date Time

# Creating seperate columns for Date and Time
date_time = df_police_calls['date_time'].str.split(' ', n=1, expand=True)
df_police_calls = df_police_calls.drop(['date_time'], axis=1)
df_police_calls['date'] = date_time[0]
df_police_calls['time'] = date_time[1]

# convert the 'Date' column to datetime format 
df_police_calls['date']= pd.to_datetime(df_police_calls['date']) 
df_police_calls['time']= pd.to_datetime(df_police_calls['time'])

In [14]:
# Changing datatype of address_number_primary from int to str
df_police_calls['address_number_primary'] = df_police_calls.address_number_primary.astype(str)

In [15]:
# Police Calls

# dropping useless columns
drop_cols_calls = ['address_dir_primary', 'address_dir_intersecting','incident_num']
df_police_calls = df_police_calls.drop(drop_cols_calls,axis = 1)

In [16]:
# Police Calls

# String manipulations

# making everything lowercase
df_police_calls['address_road_primary']=df_police_calls['address_road_primary'].str.lower()
df_police_calls['address_road_intersecting']=df_police_calls['address_road_intersecting'].str.lower()
df_police_calls['address_sfx_primary'] = df_police_calls['address_sfx_primary'].str.lower()

# strip any extra spaces in string data
df_police_calls['address_road_primary']= df_police_calls.address_road_primary.str.strip()
df_police_calls['address_sfx_primary'] = df_police_calls.address_sfx_primary.str.strip()
df_police_calls['address_road_intersecting']= df_police_calls.address_road_intersecting.str.strip()
df_police_calls['call_type'] = df_police_calls.call_type.str.strip()
df_police_calls['disposition'] = df_police_calls.disposition.str.strip()

In [17]:
# Police calls

# Creating a single coulumn for primary address
df_police_calls['Primary address']= df_police_calls.address_number_primary + ' ' + df_police_calls.address_road_primary + ' '+ df_police_calls.address_sfx_primary

# Creating a single coulumn for intersecting address
df_police_calls['Intersecting address'] = df_police_calls.address_road_intersecting+ ' '+ df_police_calls.address_sfx_intersecting

# Dropping the newly useless columns
cols_drop = ['address_number_primary','address_road_primary','address_sfx_primary','address_sfx_intersecting','address_road_intersecting']
df_police_calls = df_police_calls.drop(cols_drop,axis = 1)

## df_police_stops

In [18]:
# Police Stops
drop_cols_stops = ['isstudent', 'gend_nc','agency','stop_id', 'gend']
df_police_stops = df_police_stops.drop(drop_cols_stops, axis = 1)

In [19]:
# Police Stops

# String manipulations

# making everything lowercase
df_police_stops['address_city'] = df_police_stops['address_city'].str.lower()


# Spliting the beat_name column into two columns such that beat name and beat number are seperate columns
name_num = df_police_stops['beat_name'].str.split(' ', n=1, expand=True)
df_police_stops = df_police_stops.drop(['beat_name'], axis=1)


print(df_police_stops)

# df_police_stops['beat_name'] = name_num[0] + name_num
# df_police_stops['beat_num'] = name_num[2]

              ori  exp_years   date_stop time_stop  stopduration  \
0       CA0371100         10  2018-07-01  00:01:37            30
1       CA0371100         18  2018-07-01  00:03:34            10
2       CA0371100          1  2018-07-01  00:05:43            15
3       CA0371100          1  2018-07-01  00:05:43            15
4       CA0371100          3  2018-07-01  00:19:06             5
5       CA0371100          1  2018-07-01  00:03:00            15
6       CA0371100         24  2018-07-01  00:24:02            20
7       CA0371100          1  2018-07-01  00:31:19           120
8       CA0371100          4  2018-07-01  00:33:19             3
9       CA0371100          3  2018-07-01  00:11:00            20
10      CA0371100          1  2018-07-01  00:34:49             5
11      CA0371100          4  2018-07-01  00:38:46             6
12      CA0371100          1  2018-07-01  00:37:08            10
13      CA0371100          3  2018-07-01  00:42:14            30
14      CA0371100          4  2018-07-01  00:57:46            25
15      CA0371100          1  2018-07-01  01:03:00            15
16      CA0371100          3  2018-07-01  01:10:00             5
17      CA0371100          3  2018-07-01  01:10:55             5
18      CA0371100          2  2018-07-01  01:40:45            10
19      CA0371100          2  2018-07-01  01:47:56             3
20      CA0371100          1  2018-07-01  01:45:00            10
21      CA0371100          5  2018-07-01  01:53:43            20
22      CA0371100          2  2018-07-01  01:52:51            12
23      CA0371100          3  2018-07-01  02:16:33            15
24      CA0371100          4  2018-07-01  02:05:07            15
25      CA0371100          3  2018-07-01  02:07:00             5
26      CA0371100          3  2018-07-01  00:48:00             7
27      CA0371100          3  2018-07-01  00:48:00             7
28      CA0371100          4  2018-07-01  02:11:20            20
29      CA0371100          3  2018-07-01  02:08:00            10
...           ...        ...         ...       ...           ...
179695  CA0371100          1  2019-06-30  22:30:00            10
179696  CA0371100          1  2019-06-30  17:07:09             5
179697  CA0371100          1  2019-06-30  21:19:00            10
179698  CA0371100          1  2019-06-30  20:12:50            10
179699  CA0371100          5  2019-06-30  18:12:40            20
179700  CA0371100          1  2019-06-30  15:30:00            20
179701  CA0371100          2  2019-06-30  20:11:43            30
179702  CA0371100          1  2019-06-30  23:38:55             5
179703  CA0371100          1  2019-06-30  23:53:06           150
179704  CA0371100          1  2019-06-30  23:57:38            40
179705  CA0371100          5  2019-06-30  23:45:37            15
179706  CA0371100         18  2019-06-30  22:11:00            90
179707  CA0371100          1  2019-06-30  23:59:48            25
179708  CA0371100          3  2019-06-30  23:30:00            30
179709  CA0371100          3  2019-06-30  23:50:00            15
179710  CA0371100         19  2019-06-30  23:30:00            10
179711  CA0371100          3  2019-06-30  22:28:27           110
179712  CA0371100          1  2019-06-30  22:15:37            20
179713  CA0371100          1  2019-06-30  22:02:00            40
179714  CA0371100          1  2019-06-30  23:07:00             6
179715  CA0371100          2  2019-06-30  11:24:00           180
179716  CA0371100          1  2019-06-30  22:52:46            60
179717  CA0371100          1  2019-06-30  23:30:00           180
179718  CA0371100          1  2019-06-30  22:20:00            60
179719  CA0371100         18  2019-06-30  21:17:54            10
179720  CA0371100          2  2019-06-30  10:50:00            10
179721  CA0371100          1  2019-06-30  23:23:28            45
179722  CA0371100          1  2019-06-30  10:05:11            15
179723  CA0371100          1  2019-06-30  23:00:04            20
179724  CA0371100          1  2019-06-30  22:09:00            40

        stop_in_response_to_cfs  officer_assignment_key  \
0                             0                       1
1                             0                       1
2                             1                      10
3                             1                      10
4                             0                       1
5                             1                       1
6                             0                      10
7                             0                       1
8                             0                       2
9                             1                       1
10                            1                       1
11                            0                      10
12                            0                       1
13                            0                       1
14                            0                       1
15                            0                       1
16                            0                       1
17                            0                       1
18                            0                       1
19                            0                       1
20                            0                       1
21                            0                       5
22                            0                       1
23                            0                       1
24                            0                       1
25                            0                       1
26                            0                       1
27                            0                       1
28                            0                       1
29                            0                       1
...                         ...                     ...
179695                        0                       1
179696                        0                       1
179697                        0                       1
179698                        0                       1
179699                        0                       1
179700                        0                       1
179701                        0                       1
179702                        0                       1
179703                        0                       1
179704                        0                       1
179705                        0                       1
179706                        1                       1
179707                        0                       1
179708                        1                       1
179709                        0                       1
179710                        0                       1
179711                        1                       1
179712                        1                       1
179713                        0                       1
179714                        0                       1
179715                        1                       1
179716                        0                       1
179717                        1                       1
179718                        0                       1
179719                        0                       1
179720                        0                       1
179721                        0                       1
179722                        0                       1
179723                        1                       1
179724                        0                       1

                                           assignment  \
0       Patrol, traffic enforcement, field operations
1       Patrol, traffic enforcement, field operations
2                                               Other
3                                               Other
4       Patrol, traffic enforcement, field operations
5       Patrol, traffic enforcement, field operations
6                                               Other
7       Patrol, traffic enforcement, field operations
8                                    Gang enforcement
9       Patrol, traffic enforcement, field operations
10      Patrol, traffic enforcement, field operations
11                                              Other
12      Patrol, traffic enforcement, field operations
13      Patrol, traffic enforcement, field operations
14      Patrol, traffic enforcement, field operations
15      Patrol, traffic enforcement, field operations
16      Patrol, traffic enforcement, field operations
17      Patrol, traffic enforcement, field operations
18      Patrol, traffic enforcement, field operations
19      Patrol, traffic enforcement, field operations
20      Patrol, traffic enforcement, field operations
21               Roadblock or DUI sobriety checkpoint
22      Patrol, traffic enforcement, field operations
23      Patrol, traffic enforcement, field operations
24      Patrol, traffic enforcement, field operations
25      Patrol, traffic enforcement, field operations
26      Patrol, traffic enforcement, field operations
27      Patrol, traffic enforcement, field operations
28      Patrol, traffic enforcement, field operations
29      Patrol, traffic enforcement, field operations
...                                               ...
179695  Patrol, traffic enforcement, field operations
179696  Patrol, traffic enforcement, field operations
179697  Patrol, traffic enforcement, field operations
179698  Patrol, traffic enforcement, field operations
179699  Patrol, traffic enforcement, field operations
179700  Patrol, traffic enforcement, field operations
179701  Patrol, traffic enforcement, field operations
179702  Patrol, traffic enforcement, field operations
179703  Patrol, traffic enforcement, field operations
179704  Patrol, traffic enforcement, field operations
179705  Patrol, traffic enforcement, field operations
179706  Patrol, traffic enforcement, field operations
179707  Patrol, traffic enforcement, field operations
179708  Patrol, traffic enforcement, field operations
179709  Patrol, traffic enforcement, field operations
179710  Patrol, traffic enforcement, field operations
179711  Patrol, traffic enforcement, field operations
179712  Patrol, traffic enforcement, field operations
179713  Patrol, traffic enforcement, field operations
179714  Patrol, traffic enforcement, field operations
179715  Patrol, traffic enforcement, field operations
179716  Patrol, traffic enforcement, field operations
179717  Patrol, traffic enforcement, field operations
179718  Patrol, traffic enforcement, field operations
179719  Patrol, traffic enforcement, field operations
179720  Patrol, traffic enforcement, field operations
179721  Patrol, traffic enforcement, field operations
179722  Patrol, traffic enforcement, field operations
179723  Patrol, traffic enforcement, field operations
179724  Patrol, traffic enforcement, field operations

                       intersection  address_block       ...       isschool  \
0                               NaN          700.0       ...              0
1                               I-5            NaN       ...              0
2                               NaN         4400.0       ...              0
3                               NaN         4400.0       ...              0
4                               NaN         4800.0       ...              0
5                               NaN         4500.0       ...              0
6                               NaN          800.0       ...              0
7                               NaN         4800.0       ...              0
8                               NaN         4100.0       ...              0
9                               NaN         1100.0       ...              0
10                space theater way            NaN       ...              0
11                              NaN         4300.0       ...              0
12                              NaN         6800.0       ...              0
13                              NaN          500.0       ...              0
14                              NaN         4300.0       ...              0
15                              NaN         4400.0       ...              0
16                              NaN         1000.0       ...              0
17                              NaN         1000.0       ...              0
18                              NaN         8900.0       ...              0
19                  torrey pines rd            NaN       ...              0
20                              NaN          800.0       ...              0
21                              NaN         4200.0       ...              0
22                              NaN         2400.0       ...              0
23                              NaN         3500.0       ...              0
24                              NaN          800.0       ...              0
25                              NaN          800.0       ...              0
26                              NaN          700.0       ...              0
27                              NaN          700.0       ...              0
28                              NaN          800.0       ...              0
29                              NaN          800.0       ...              0
...                             ...            ...       ...            ...
179695                          NaN          600.0       ...              0
179696                          NaN          400.0       ...              0
179697                          NaN          500.0       ...              0
179698                          NaN         2000.0       ...              0
179699                          NaN         3000.0       ...              0
179700                          NaN         6500.0       ...              0
179701                          NaN         2100.0       ...              0
179702                          NaN          800.0       ...              0
179703                          NaN         3100.0       ...              0
179704                          NaN         1200.0       ...              0
179705                          NaN         3600.0       ...              0
179706                          NaN         9900.0       ...              0
179707                          NaN         4200.0       ...              0
179708                          NaN         8500.0       ...              0
179709                          NaN         8500.0       ...              0
179710                          NaN         5100.0       ...              1
179711                          NaN         2400.0       ...              0
179712                          NaN         4600.0       ...              0
179713                          NaN         4700.0       ...              0
179714                          NaN         7300.0       ...              0
179715                          NaN          200.0       ...              0
179716                          NaN         4000.0       ...              0
179717                          NaN         3700.0       ...              0
179718                          NaN         7300.0       ...              0
179719                          NaN         4100.0       ...              0
179720                          NaN         1200.0       ...              0
179721                          NaN         6500.0       ...              0
179722  National Ave/Sigsbee Avenue            NaN       ...              0
179723                          NaN          800.0       ...              0
179724                          NaN         1900.0       ...              0

                                          school_name address_city  beat pid  \
0                                                 NaN    san diego   122   1
1                                                 NaN    san diego   121   1
2                                                 NaN    san diego   822   1
3                                                 NaN    san diego   822   2
4                                                 NaN    san diego   614   1
5                                                 NaN    san diego   115   1
6                                                 NaN    san diego   122   1
7                                                 NaN    san diego   446   1
8                                                 NaN    san diego   826   1
9                                                 NaN    san diego   122   1
10                                                NaN    san diego   531   1
11                                                NaN    san diego   826   1
12                                                NaN    san diego   124   1
13                                                NaN    san diego   523   1
14                                                NaN    san diego   122   1
15                                                NaN    san diego   122   1
16                                                NaN    san diego   122   1
17                                                NaN    san diego   122   1
18                                                NaN    san diego   232   1
19                                                NaN    san diego   124   1
20                                                NaN    san diego   122   1
21                                                NaN    san diego   834   1
22                                                NaN    san diego   124   1
23                                                NaN    san diego   441   1
24                                                NaN    san diego   122   1
25                                                NaN    san diego   122   1
26                                                NaN    san diego   122   1
27                                                NaN    san diego   122   2
28                                                NaN    san diego   122   1
29                                                NaN    san diego   122   1
...                                               ...          ...   ...  ..
179695                                            NaN    san diego   521   1
179696                                            NaN    san diego   712   1
179697                                            NaN    san diego   433   1
179698                                            NaN    san diego   721   1
179699                                            NaN    san diego   723   1
179700                                            NaN    san diego   452   1
179701                                            NaN    san diego   123   1
179702                                            NaN    san diego   122   1
179703                                            NaN    san diego   516   1
179704                                            NaN    san diego   524   1
179705                                            NaN    san diego   627   1
179706                                            NaN    san diego   233   1
179707                                            NaN    san diego   723   1
179708                                            NaN    san diego   115   1
179709                                            NaN    san diego   115   1
179710  Serra High (San Diego Unified) 37683383730173    san diego   312   1
179711                                            NaN    san diego   813   1
179712                                            NaN    san diego   112   1
179713                                            NaN    san diego   825   1
179714                                            NaN    san diego   313   1
179715                                            NaN    san diego   617   1
179716                                            NaN    san diego   115   1
179717                                            NaN    san diego   613   1
179718                                            NaN    san diego   111   1
179719                                            NaN    san diego   624   1

In [20]:
df_police_stops['perceived_limited_english'] = df_police_stops['perceived_limited_english'].replace(0,'no')
df_police_stops['perceived_limited_english'] = df_police_stops['perceived_limited_english'].replace(1,'yes')


df_police_stops['gender_nonconforming'] = df_police_stops['gender_nonconforming'].replace(0,'no')
df_police_stops['gender_nonconforming'] = df_police_stops['gender_nonconforming'].replace(1,'yes')

# Data Analysis & Results

In [21]:
df_police_stops.head()

,ori,exp_years,date_stop,time_stop,stopduration,stop_in_response_to_cfs,officer_assignment_key,assignment,intersection,address_block,...,isschool,school_name,address_city,beat,pid,perceived_limited_english,perceived_age,perceived_gender,gender_nonconforming,perceived_lgbt
0,CA0371100,10,2018-07-01,00:01:37,30,0,1,"Patrol, traffic enforcement, field operations",NaN,700.0,...,0,NaN,san diego,122,1,no,25,Male,no,No
1,CA0371100,18,2018-07-01,00:03:34,10,0,1,"Patrol, traffic enforcement, field operations",I-5,NaN,...,0,NaN,san diego,121,1,no,25,Male,no,No
2,CA0371100,1,2018-07-01,00:05:43,15,1,10,Other,NaN,4400.0,...,0,NaN,san diego,822,1,no,30,Male,no,No
3,CA0371100,1,2018-07-01,00:05:43,15,1,10,Other,NaN,4400.0,...,0,NaN,san diego,822,2,no,30,Female,no,No
4,CA0371100,3,2018-07-01,00:19:06,5,0,1,"Patrol, traffic enforcement, field operations",NaN,4800.0,...,0,NaN,san diego,614,1,no,23,Male,no,No

In [22]:
for col in df_police_stops.columns:
    
    print(col)

ori
exp_years
date_stop
time_stop
stopduration
stop_in_response_to_cfs
officer_assignment_key
assignment
intersection
address_block
land_mark
address_street
highway_exit
isschool
school_name
address_city
beat
pid
perceived_limited_english
perceived_age
perceived_gender
gender_nonconforming
perceived_lgbt

# Ethics & Privacy

# Conclusion & Discussion

## Geospatial tools
- Geojson: https://pypi.org/project/geojson/
    - https://www.datacamp.com/community/tutorials/geospatial-data-python
- GeoPandas: http://geopandas.org/

visualization tools: https://medium.com/@stallonejacob/d3-in-juypter-notebook-685d6dca75c8