# Road Safety in San Diego County

In [1]:
!pip install geojson

Requirement already satisfied: geojson in /Applications/anaconda3/lib/python3.7/site-packages (2.5.0)

In [2]:
#imports 

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import string

# Display plots directly in the notebook instead of in a new window
%matplotlib inline

In [3]:
# Configure libraries
# The seaborn library makes plots look nicer
sns.set()
sns.set_context('talk')

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

## Data frame management

We should figure out how we want to structure the data frames. 
Options include: 
- Merge into one df
- Find matching identifiers and try to merge data by these
- Work in completely independent dfs

In [18]:
df_police_stops = pd.read_csv("datasets/police_stops/ripa_stops_datasd_v1.csv")
df_collisions = pd.read_csv("datasets/traffic_collisions/pd_collisions_datasd_v1.csv")
df_police_calls1 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2015_datasd_v1.csv")
df_police_calls2 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2016_datasd_v1.csv")
df_police_calls3 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2017_datasd_v1.csv")
df_police_calls4 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2018_datasd.csv")
df_police_calls5 = pd.read_csv("datasets/police_calls/pd_calls_for_service_2019_datasd.csv")

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,9,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
# Merging all of the df_police_calls databases
df_police_calls = pd.merge(df_police_calls1,df_police_calls2,df_police_calls3, df_police_calls4, df_police_calls5,on='stop_id')

TypeError: merge() got multiple values for argument 'on'

In [16]:
print(df_police_calls)

                  0                    1   2      3    4                 5   \
0       P15010000001  2015-01-01 00:00:14   3   3800  NaN             DELTA
1       P15010000002  2015-01-01 00:00:30   3      0  NaN              60TH
2       P15010000003  2015-01-01 00:00:48   3   3600  NaN             LOGAN
3       P15010000004  2015-01-01 00:00:57   3      0  NaN              33RD
4       P15010000005  2015-01-01 00:01:05   3   3300  NaN              43RD
5       P15010000006  2015-01-01 00:01:27   3   1400  NaN         HORNBLEND
6       P15010000007  2015-01-01 00:01:35   3    700  NaN              05TH
7       P15010000008  2015-01-01 00:01:37   3    700  NaN         OLIVEWOOD
8       P15010000009  2015-01-01 00:01:39   3   2600  NaN           BAYSIDE
9       P15010000010  2015-01-01 00:02:13   3   4000  NaN            EUCLID
10      P15010000011  2015-01-01 00:02:18   3   2600  NaN         ROSECRANS
11      P15010000012  2015-01-01 00:02:41   3   3200  NaN           PALM SB
12      P15010000013  2015-01-01 00:02:52   3    200  NaN              68TH
13      P15010000014  2015-01-01 00:02:53   3   3700  NaN              37TH
14      P15010000015  2015-01-01 00:02:55   3   3100  NaN          IMPERIAL
15      P15010000016  2015-01-01 00:03:01   3      0  NaN  SHOPS INFO LOG**
16      P15010000017  2015-01-01 00:03:14   3      0  NaN    CHP INFO LOG**
17      P15010000018  2015-01-01 00:03:22   3    300  NaN             BOWIE
18      P15010000019  2015-01-01 00:04:07   3    200  NaN        LOS SONETO
19      P15010000020  2015-01-01 00:04:11   3   7200  NaN           SKYLINE
20      P15010000021  2015-01-01 00:04:16   3    700  NaN              05TH
21      P15010000023  2015-01-01 00:04:27   3   5300  NaN         GROVELAND
22      P15010000022  2015-01-01 00:04:27   3   3700  NaN            HERMAN
23      P15010000024  2015-01-01 00:04:35   3   1900  NaN             WODEN
24      P15010000025  2015-01-01 00:05:15   3   7900  NaN   PARADISE VALLEY
25      P15010000026  2015-01-01 00:05:23   3   3800  NaN             LOGAN
26      P15010000027  2015-01-01 00:05:36   3   3400  NaN              06TH
27      P15010000028  2015-01-01 00:05:45   3      0  NaN              33RD
28      P15010000029  2015-01-01 00:05:48   3   1000  NaN           WINSTON
29      P15010000030  2015-01-01 00:06:17   3   2900  NaN          NATIONAL
...              ...                  ...  ..    ...  ...               ...
627442  P15120048840  2015-12-31 23:47:06   3    700  NaN             GRAND
627443  P15120048841  2015-12-31 23:47:14   3   3500  NaN      SPORTS ARENA
627444  P15120048842  2015-12-31 23:47:19   3   2400  NaN              POLK
627445  P15120048843  2015-12-31 23:47:51   3      0  NaN            EVERTS
627446  P15120048844  2015-12-31 23:48:27   3   4100  NaN              BETA
627447  P15120048845  2015-12-31 23:48:58   3  11600  NaN    EL CAMINO REAL
627448  P15120048846  2015-12-31 23:49:18   3      0  NaN            MARKET
627449  P15120048847  2015-12-31 23:50:12   3      0  NaN              CASS
627450  P15120048848  2015-12-31 23:50:44   3   2000  NaN         SPINDRIFT
627451  P15120048849  2015-12-31 23:50:50   3   5300  NaN             MEADE
627452  P15120048850  2015-12-31 23:51:11   3   4400  NaN           MISSION
627453  P15120048851  2015-12-31 23:51:57   3   3400  NaN              32ND
627454  P15120048852  2015-12-31 23:53:12   3   3800  NaN              39TH
627455  P15120048853  2015-12-31 23:53:28   3    900  NaN          PROSPECT
627456  P15120048854  2015-12-31 23:53:28   3      0  NaN   CLAIREMONT MESA
627457  P15120048855  2015-12-31 23:53:36   3   1300  NaN          BROADWAY
627458  P15120048856  2015-12-31 23:53:52   3   1000  NaN            GARNET
627459  P15120048857  2015-12-31 23:54:00   3    500  NaN              04TH
627460  P15120048858  2015-12-31 23:54:59   3   5700  NaN        CUMBERLAND
627461  P15120048859  2015-12-31 23:55:21   3   4300  NaN             OCEAN
627462  P15120048860  2015-12-31 23:55:45   3   3800  NaN             LOGAN
627463  P15120048861  2015-12-31 23:56:47   3   2900  NaN              CLAY
627464  P15120048862  2015-12-31 23:56:53   3    500  NaN                 F
627465  P15120048863  2015-12-31 23:57:08   3   4400  NaN             IDAHO
627466  P15120048864  2015-12-31 23:57:52   3   1600    S              43RD
627467  P15120048865  2015-12-31 23:58:26   3   4200  NaN             MEADE
627468  P15120048866  2015-12-31 23:58:39   3   1100  NaN            GARNET
627469  P15120048867  2015-12-31 23:58:40   3   6700  NaN            TIFFIN
627470  P15120048868  2015-12-31 23:59:10   3    300  NaN         OLIVEWOOD
627471  P15120048869  2015-12-31 23:59:25   3   5100  NaN   MEADOWS DEL MAR

         6   7         8    9  ...    60              61   62  63        64  \
0        ST NaN       NaN  NaN ...   NaN        NATIONAL  AVE NaN       NaN
1        ST NaN   FEDERAL   BL ...   NaN      REFLECTION   DR NaN       NaN
2        AV NaN       NaN  NaN ...   NaN            06TH  AVE NaN    ISLAND
3        ST NaN  IMPERIAL   AV ...   NaN           VESTA   ST NaN      MAIN
4        ST NaN       NaN  NaN ...   NaN            04TH  AVE NaN    ISLAND
5        ST NaN       NaN  NaN ...   NaN          EVERTS   ST NaN    GARNET
6        AV NaN       NaN  NaN ...   NaN          NEWTON  AVE NaN       NaN
7        TR NaN       NaN  NaN ...   NaN      UNIVERSITY  AVE NaN    WABASH
8        WK NaN       NaN  NaN ...   NaN            06TH  AVE NaN       NaN
9        AV NaN       NaN  NaN ...   NaN           OCEAN  BLV NaN       NaN
10       ST NaN       NaN  NaN ...   NaN        BROOKLYN  AVE NaN       NaN
11       AV NaN       NaN  NaN ...   NaN        EL CAJON  BLV NaN       NaN
12       ST NaN       NaN  NaN ...   NaN   SCRIPPS RANCH  BLV NaN       NaN
13       ST NaN       NaN  NaN ...   NaN         KLAUBER  AVE NaN       NaN
14       AV NaN       NaN  NaN ...   NaN       30TH (SB)   ST NaN       NaN
15      NaN NaN       NaN  NaN ...   NaN               L   ST NaN       NaN
16      NaN NaN       NaN  NaN ...   NaN       SWEETWOOD   ST NaN       NaN
17       ST NaN       NaN  NaN ...   NaN          GARNET  AVE NaN       NaN
18       DR NaN       NaN  NaN ...   NaN            05TH  AVE NaN       NaN
19       DR NaN       NaN  NaN ...   NaN           REBEL   RD NaN       NaN
20       AV NaN       NaN  NaN ...   NaN           GAMMA   ST NaN       NaN
21       DR NaN       NaN  NaN ...   NaN       SHOPS LOG  NaN NaN       NaN
22       AV NaN       NaN  NaN ...   NaN      WILLAMETTE  AVE NaN       NaN
23       ST NaN       NaN  NaN ...   NaN      STREAMVIEW   DR NaN       NaN
24       RD NaN       NaN  NaN ...   NaN  ADIRONDACK ROW  NaN NaN  RITVA PL
25       AV NaN       NaN  NaN ...   NaN        FRANKLIN  AVE NaN       NaN
26       AV NaN       NaN  NaN ...     S            37TH   ST NaN      BETA
27       ST NaN    MARKET   ST ...   NaN        TREEWOOD   ST NaN       NaN
28       DR NaN       NaN  NaN ...   NaN  BLACK MOUNTAIN   RD NaN       NaN
29       AV NaN       NaN  NaN ...   NaN         CHP LOG  NaN NaN       NaN
...     ...  ..       ...  ... ...   ...             ...  ...  ..       ...
627442   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627443   BL NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627444   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627445   ST NaN    GARNET   AV ...   NaN             NaN  NaN NaN       NaN
627446   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627447  NaN NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627448   PL NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627449   ST NaN    GARNET   AV ...   NaN             NaN  NaN NaN       NaN
627450   DR NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627451   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627452   BL NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627453   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627454   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627455   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627456   BL NaN   GENESEE   AV ...   NaN             NaN  NaN NaN       NaN
627457  NaN NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627458   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627459   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627460   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627461   BL NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627462   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627463   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627464   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627465   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627466   ST NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627467   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627468   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627469   AV NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627470   TR NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN
627471   DY NaN       NaN  NaN ...   NaN             NaN  NaN NaN       NaN

        65        66   67     68   69
0      NaN       AU1  DUP  441.0  1.0
1      NaN       415    K  321.0  2.0
2      NaN        FD    K  523.0  2.0
3      NaN       AU1    W  511.0  1.0
4      NaN       586  CAN  523.0  4.0
5      NaN      1016    A  122.0  2.0
6      NaN       AU1  DUP  442.0  1.0
7      NaN       CCW    K  838.0  1.0
8      NaN    SELENF    K  523.0  3.0
9      NaN      1016    A  122.0  2.0
10     NaN       AU1  DUP  433.0  1.0
11     NaN       415    K  831.0  2.0
12     NaN      415N  CAN  241.0  3.0
13     NaN       AU1  DUP  433.0  1.0
14     NaN       AU1  CAN  723.0  1.0
15     NaN       AU1    W  516.0  1.0
16     NaN      11-7    K  452.0  1.0
17     NaN      1016    A  122.0  2.0
18     NaN      1016  CAN  523.0  2.0
19     NaN      11-7    K  114.0  1.0
20     NaN       AU1  DUP  442.0  1.0
21     NaN     SHOPS    W   -1.0  4.0
22     NaN       AU1    W  114.0  1.0
23     NaN  FIREHZRD    K  451.0  2.0
24     NaN       AU1  DUP  437.0  1.0
25     NaN       AU2  DUP  441.0  2.0
26     NaN       AU1  DUP  442.0  1.0
27     NaN       246    O  452.0  1.0
28     NaN      1131    K  242.0  1.0
29     NaN   INFOCHP    W   -1.0  4.0
...     ..       ...  ...    ...  ...
627442 NaN       NaN  NaN    NaN  NaN
627443 NaN       NaN  NaN    NaN  NaN
627444 NaN       NaN  NaN    NaN  NaN
627445 NaN       NaN  NaN    NaN  NaN
627446 NaN       NaN  NaN    NaN  NaN
627447 NaN       NaN  NaN    NaN  NaN
627448 NaN       NaN  NaN    NaN  NaN
627449 NaN       NaN  NaN    NaN  NaN
627450 NaN       NaN  NaN    NaN  NaN
627451 NaN       NaN  NaN    NaN  NaN
627452 NaN       NaN  NaN    NaN  NaN
627453 NaN       NaN  NaN    NaN  NaN
627454 NaN       NaN  NaN    NaN  NaN
627455 NaN       NaN  NaN    NaN  NaN
627456 NaN       NaN  NaN    NaN  NaN
627457 NaN       NaN  NaN    NaN  NaN
627458 NaN       NaN  NaN    NaN  NaN
627459 NaN       NaN  NaN    NaN  NaN
627460 NaN       NaN  NaN    NaN  NaN
627461 NaN       NaN  NaN    NaN  NaN
627462 NaN       NaN  NaN    NaN  NaN
627463 NaN       NaN  NaN    NaN  NaN
627464 NaN       NaN  NaN    NaN  NaN
627465 NaN       NaN  NaN    NaN  NaN
627466 NaN       NaN  NaN    NaN  NaN
627467 NaN       NaN  NaN    NaN  NaN
627468 NaN       NaN  NaN    NaN  NaN
627469 NaN       NaN  NaN    NaN  NaN
627470 NaN       NaN  NaN    NaN  NaN
627471 NaN       NaN  NaN    NaN  NaN

[627472 rows x 70 columns]

# DATA CLEANING

## df_collisions

In [6]:
# Splitting datetime for the datasets

# Splitting datetime for df_collisions
# Creating seperate columns for Date and Time
date_time = df_collisions['date_time'].str.split(' ', n=1, expand=True)
df_collisions = df_collisions.drop(['date_time'], axis=1)
df_collisions['date'] = date_time[0]
df_collisions['time'] = date_time[1]

In [7]:
# droping useless columns
drop_cols_collision = ['address_pd_primary','address_pd_intersecting', 'address_name_intersecting', 'address_sfx_intersecting','report_id']
df_collisions = df_collisions.drop(drop_cols_collision, axis = 1)

In [8]:
# Making everything lowercase

df_collisions['address_road_primary'] = df_collisions['address_road_primary'].str.lower()
df_collisions['address_sfx_primary'] = df_collisions['address_sfx_primary'].str.lower()
df_collisions['charge_desc'] = df_collisions['charge_desc'].str.lower()
df_collisions['hit_run_lvl'] = df_collisions['hit_run_lvl'].str.lower()

In [9]:
#stripping gets rid of extraneous spaces to allow for easier processing of data
df_collisions['address_road_primary'] = df_collisions.address_road_primary.str.strip()
df_collisions['address_sfx_primary'] = df_collisions.address_sfx_primary.str.strip()
df_collisions['violation_section']= df_collisions.violation_section.str.strip()
df_collisions['violation_type'] = df_collisions.violation_type.str.strip()
df_collisions['charge_desc'] = df_collisions.charge_desc.str.strip()
df_collisions['hit_run_lvl'] = df_collisions.hit_run_lvl.str.strip()

In [10]:
# convert the 'Date' column to datetime format 
df_collisions['date']= pd.to_datetime(df_collisions['date']) 
df_collisions['time']= pd.to_datetime(df_collisions['time'])

In [11]:
df_collisions.dtypes

police_beat                        int64
address_number_primary             int64
address_road_primary              object
address_sfx_primary               object
violation_section                 object
violation_type                    object
charge_desc                       object
injured                            int64
killed                             int64
hit_run_lvl                       object
date                      datetime64[ns]
time                      datetime64[ns]
dtype: object

## df_police calls

In [12]:
# Change entries in col 'day_of_week' to represent the day of the week in words
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(1,'Monday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(2,'Tuesday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(3,'Wednesday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(4,'Thursday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(5,'Friday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(6,'Saturday')
df_police_calls['day_of_week'] = df_police_calls['day_of_week'].replace(7,'Sunday')

In [13]:
# Splitting datetime for df_police_calls
date_time = df_police_calls['date_time'].str.split(' ', n=1, expand=True)
df_police_calls = df_police_calls.drop(['date_time'], axis=1)
df_police_calls['date'] = date_time[0]
df_police_calls['time'] = date_time[1]

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
# dropping useless columns
drop_cols_calls = ['address_dir_primary', 'address_dir_intersecting','incident_num']

df_police_calls = df_police_calls.drop(drop_cols_calls,axis = 1)

In [ ]:
# making everything lowercase
df_police_calls['address_road_primary']=df_police_calls['address_road_primary'].str.lower()
df_police_calls['address_road_intersecting']=df_police_calls['address_road_intersecting'].str.lower()
df_police_calls['address_sfx_primary'] = df_police_calls['address_sfx_primary'].str.lower()

In [ ]:
# strip any extra spaces in string data
df_police_calls['address_road_primary']= df_police_calls.address_road_primary.str.strip()
df_police_calls['address_sfx_primary'] = df_police_calls.address_sfx_primary.str.strip()
df_police_calls['address_road_intersecting']= df_police_calls.address_road_intersecting.str.strip()
df_police_calls['call_type'] = df_police_calls.call_type.str.strip()
df_police_calls['disposition'] = df_police_calls.disposition.str.strip()

In [ ]:
# convert the 'Date' column to datetime format 

df_police_calls['date']= pd.to_datetime(df_police_calls['date']) 
df_police_calls['time']= pd.to_datetime(df_police_calls['time'])

In [ ]:
df_police_calls.dtypes

## df_police_stops

In [ ]:
drop_cols_stops = ['isstudent', 'gend_nc','agency','stop_id']
df_police_stops = df_police_stops.drop(drop_cols_stops, axis = 1)

In [ ]:
# making everything lowercase

df_police_stops['address_city'] = df_police_stops['address_city'].str.lower()

We can probably merge **address_road_primary** and **address_sfx_primary**

In [ ]:
df_police_stops.dtypes

In [ ]:
df_collisions.head()

visualization tools: https://medium.com/@stallonejacob/d3-in-juypter-notebook-685d6dca75c8

## Geospatial tools
- Geojson: https://pypi.org/project/geojson/
    - https://www.datacamp.com/community/tutorials/geospatial-data-python
- GeoPandas: http://geopandas.org/